* {
    box-sizing: border-box; 
}

:root {
    --left-width: 30%;
    --right-width: 70%;
    --footer-block-width: 33.33%;

    --color-font: #161A1D;
}

body {
    display: block;
    max-width: 1024px;
    margin: auto;

    font-family: Cabin, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-font);
}

header {
    height: 250px;
    background-color: rgb(206, 247, 165);
}

footer {
    height: 50px;
    background-color: rgb(165, 247, 179);
}

main {
    background-color: rgb(169, 169, 253);
    min-height: 1200px;
}





.header-container {
    display: flex;
    background-color: rgb(247, 168, 168);
}
.header-photo {
    width: var(--left-width);
    display: flex;
}
.header-photo img {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/
    /*border-radius: 30vw;*/
    border-radius: 3rem;
    padding: 5%;
    margin: auto;
}
.header-info {
    width: var(--right-width);
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    /*width: -webkit-fill-available;*/
    /*height: max-content;*/
    align-items: end;
    /*margin: 5% 0 0 0;*/
    justify-content: space-between;

    text-transform: uppercase;
}

.header-info nav {
    background-color: darkgreen;
}
.header-info #name {
    background-color: crimson;
}
.header-info nav ul {
    background-color: cyan;
    list-style: none;
    padding: 0;
}
.header-info nav li {
    background-color: rgb(255, 230, 0);
    display: inline-block;
    transition: transform .2s; /* Animation */
    margin: 5px;
}
.header-info nav li:hover {
    background-color: rgb(255, 136, 0);
    transform: scale(1.1);
}
.header-info nav a, a:link, a:hover, a:visited{
    color: black;
    text-decoration: none;
}



.main-content {
    display: flex;
    background-color: rgb(168, 247, 247);
}
.aside-container {
    background-color:rgb(243, 114, 243);
    /*flex-basis: 30%;*/
    width: var(--left-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 2%;
}
.aside-container #skills {
    background-color: rgb(216, 73, 25);
}
.aside-container #language {
    background-color: rgb(221, 218, 30);
}
.aside-container #contacts {
    background-color: rgb(228, 44, 121);
}
.aside-container #language ul,
.aside-container #contacts ul {
    list-style: none;
    padding: 0;
}
.aside-container section {
    border-radius: 1rem;
    padding: 0 3% 3% 5%;
}
.aside-container h3 {
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    background-color:brown;
    margin: 1rem auto;
    border: 2px solid black;
}



.main-container {
    background-color:rgb(250, 89, 164);
    width: var(--right-width);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

    padding: 2%;
}
.main-container #about {
    background-color: rgb(121, 61, 233);
}
.main-container #education {
    background-color: rgb(61, 78, 233);
}
.main-container #experience {
    background-color: rgb(61, 179, 233);
}
.main-container #code {
    background-color: rgb(61, 57, 85);
}
.code {
    background-color: chartreuse;
    max-width: max-content;
    overflow: auto;
    margin: 3% auto;
    border-radius: 1rem;
    padding: 1rem;
}
.main-container h3 {
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
.main-container p {
    padding-left: 5%;
    padding-right: 1%;
}
.main-container ul {
    list-style-position: inside; /*for ul*/
}


footer a:link {
    color: black;
    text-decoration: none;
} 
footer a:hover {
    color: black;
    text-decoration: none;
}
footer a:visited {
    color: black;
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}
.footer-container #github {
    width: var(--footer-block-width);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container #github img {
    margin-right: 5px;
}
.footer-container #year {
    width: var(--footer-block-width);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container #rsschool {
    width: var(--footer-block-width);
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
.footer-container #rsschool img {
    margin-top: 5px;
}
